.container {
  margin: 10px;
  background-color: #ccc;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 15px;
}

.item {
  background-color: #b22593;
  padding: 10px;
}

.i2 {
  height: 85px;
}

.i4 {
  font-size: 40px;
}

.i5 {
  flex: 1;
}

.video1 {
  margin: 30px;
  padding: 20px;
  border: 5px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-self: center;
}
